
{
  "env": {
    "development": {
      "presets": ["env", "react", "stage-0"],
      "plugins": ["transform-runtime", "react-loadable/babel"]
    },
    "production": {
      "presets": ["env", "react", "stage-0"],
      "plugins": ["transform-runtime"]
    },
    
    "developmentssr": {
      "presets": ["env", "react", "stage-0"],
      "plugins": ["transform-runtime", "dynamic-import-node", "react-loadable/babel"]
    },
    
    "productionssr": {
        "presets": ["react"]
    }
  }
}